<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body class="home">
  <div class="container">
    <div class="login-page clearfix">
      <div class="login-box auth0-box before">
        <img src="/public/assets/auth0_logo.png" />
        <h3>Auth0 Example</h3>
        <p>Zero friction identity infrastructure, built for developers</p>
        <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
      </div>
    </div>
  </div>
</body>

</html>