<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Page</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body class="home">
  <div class="container">
    <div class="login-page clearfix">
      <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="/public/assets/auth0_logo.png" /></h1>
        <img class="avatar" src="{{ .Picture }}" />
        <h2>Welcome {{ .Nickname }}</h2>
        <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</body>

</html>